* {
    box-sizing: border-box;
}
.gallery-item p{
    font-size: 40px;
}

.gallery-item img {
    width: 100%;
}

.gallery{
    display:flex;
    /*flex-direction: row-reverse;*/
    /*flex-direction: row;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;/* вместе*/
    /*flex-direction: column;*/

    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.gallery-item {
    flex: 1 1 25%;
}

/*====f=========================================*/
/*.gallery {*/
/*    font-size: 0;!*убрать пробелы*!*/
/*}*/



/*=============================================*/
/*.gallery-item{*/
/*    float: left;*/
/*    width: 25%;*/
/*    padding: 30px;*/
/*}*/
/*.gallery-item img{*/
/*    width: 100%;*/
/*}*/

/*+====================================================*/
/*.gallery-item {*/
/*    font-size: 16px;*/
/*    width: 20%;*/
/*    display: inline-block;*/
/*    padding: 10px;*/

/*}*/

/*.gallery-item img {*/
/*    width: 100%;*/
/*}*/

.gallery-item p{
    text-align: center;
}

/*===================================================================*/



/**{*/
/*    box-sizing: border-box;!*w+h+padding*!*/
/*}*/

/*.block {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: red;*/
/*    padding: 50px;*/
/*    !*margin-bottom: 50px;*!*/
/*}*/

/*.small-block{*/
/*    !*margin-top: 5px;*!*/
/*    display: block;*/
/*    dwidth: 50px;*/
/*    height: 50px;*/
/*    background-color: aqua;*/
/*margin-top: -50px;*/
/*margin-left: -60px;*/

/*}*/

/*padding: 50px;*/
/*border-width: 5px;*/
/*border-style: solid;*/
/*border-color: green;*/
/*margin: 0 auto;*/
/*outline: 5px dotted salmon;*/

/*border-radius: 50px 25px 0 100px;*/
/*    border-top-left-radius: 50px;*/
/*border: 5px solid blue;*/
/*border-left: 3px saddlebrown;*/
/*border-right: 5px goldenrod;*/


/*box-sizing: border-box;*/


/*width: 100px;*/
/*height: 100px;*/
/*background-color: red;*/


/*padding: 50px;*/
/*padding-top: 50px;*/
/*padding-left: 30px;*/
/*padding-bottom: 60px;*/
/*padding-right: 20px;*/

/*padding: 40px 30px 20px 10px;*/
/*top rigt bot left*/
/*}*/